#addUsers {
  display: none;
}

@include media(300px, 999px) {
  #addUsers {
    @include flex(column, center, center);
    height: 50px;
    width: 50px;
    margin: 1px;
    background-color: $magenta;
    font-size: 24px;
    letter-spacing: 1.2px;
    cursor: pointer;
    box-shadow: 0 0 5px black;
    border: 2px solid $magenta;
    border-radius: 50%;
  }
}
