<h1>{{title}}</h1>
<div id="indexPage">
  <a class="formButton" href="/signup">Sign up</a>
  <a class="formButton" id="login">Log in</a>
</div>

<script type="text/javascript"  src="javascripts/fetchRequest/fetch.js">
</script>
