
<form class="form" action="/login-user" method="post">
  <h1>{{title}}</h1>
  <input type="text" name="email" placeholder="E-mail">
  <input type="password" name="password" placeholder="Password">
  <button class="formButton" type="submit"> Log In</button>
</form>
